{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "var/infection.log",
        "stryker": {
            "report": "/^(?>main|\\d+\\.\\d+\\.x)$/D"
        },
    },
    "tmpDir": "var",
    "minCoveredMsi": 99,
    "mutators": {
        "@default": true,
        "PublicVisibility": {
            "ignore": [
                "Typhoon\\Type\\Visitor\\Stringify"
            ]
        }
    },
}
