parameters:
    level: max
    paths:
        - src
        - tests
    checkBenevolentUnionTypes: true
    #ignoreErrors:
    #    - { identifier: missingType.generics }
    #    - { identifier: return.unusedType }
    editorUrl: ''
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
