parameters:
    level: max
    paths:
        - generator
        - src
        - tests
    checkBenevolentUnionTypes: true
    editorUrl: ''
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
    ignoreErrors:
        -
            message: '#^PHPDoc tag @template T for class Typhoon\\Type\\CallableT with bound type callable is not supported\.$#'
            identifier: generics.notSupportedBound
            count: 1
            path: src/CallableT.php
