parameters:
    level: max
    paths:
        - generator
        - src
        - tests
    checkBenevolentUnionTypes: true
    editorUrl: ''
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
    ignoreErrors:
        -
            message: '#^Class Typhoon\\Type\\IntMaskT @implements tag contains unresolvable type\.$#'
            identifier: generics.unresolvable
            count: 1
            path: src/IntMaskT.php
